*.h5
*.pyc
*.json
*.png
*.log
Segmentation_country/text-recognition-resnet-fc-ft-v1.bin
Segmentation_country/text-recognition-resnet-fc-ft-v1.xml
run/text-recognition-resnet-fc-ft-v1.bin
run/text-recognition-resnet-fc-ft-v1.xml
run/text-recognition-resnet-fc-ft*
run/output_crops_mask/
run/output_crops_mask_new_parameter/